.viewActiva {
    color:red;
    padding-left: 20px;
}

.barra{

    background-color: white;
    border-bottom: 1px solid beige;
    border-top: 1px solid beige;
   
  
}

.btnBarra{
   
    background-color:  #00529E;
    margin: 5px;
    padding: 7px;
}

.menu{
    margin-left: 20px;
    text-decoration: none;
    color:black;
}

.footer{
  background-color:  #176dbd ;
  height: 8rem;
  
  
}

.formIngresar{
    background-color:  #bbd3e9;   
  

    
}

.btnIngresar{
    margin: 20px;
}

.cardDetalle{
    display:flex; 
    flex-direction: row;
    height: 40rem;  
    margin: 15rem;
    background-color: #65ade7;
    
    
}

.cardAuto{
    margin-bottom: 10rem;
}

.footer{
    margin-top: 6rem;
}